{% extends "base.html" %}

{% block content %}
    <!--
    <div class="row col-sm-12 p-2">
        <h3 class="page-header"><img src="{{ url_for('static', path='favicon.png') }}" width="32pt" /> QR-Flow</h3>
    </div>
    -->
    <div class="row col-sm-12 p-2">
        <a href="{{ url_for('qrcode') }}" class="col-sm-2 text-center">
            <i class="bi bi-upc" style="font-size: 50px;"></i>
            <h5>QR-Code</h5>
        </a>
        <a href="{{ url_for('scanner') }}" class="col-sm-2 text-center">
            <i class="bi bi-upc-scan" style="font-size: 50px;"></i>
            <h5>Scanner</h5>
        </a>
    </div>
{% endblock %}
