{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block headers %}
    <!-- HTML5-QRCode (https://github.com/mebjas/html5-qrcode) -->
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

    <!-- highligh.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
    {% load static %}
    <div class="row col-sm-12 p-2">
        <h3 class="page-header">
            <i class="bi bi-person-circle"></i> <a href="{% url 'profile' %}">{{ user.username }}</a>
            <i class="bi bi-chevron-compact-right"></i>
            <i class="bi bi-diagram-3"></i> <a href="{% url 'core:organization-detail' object.organization.id %}">{{ object.organization.name }}</a>
            <i class="bi bi-chevron-compact-right"></i>
            <i class="bi bi-app-indicator"></i> <a href="{% url 'flow:application-detail' object.id %}">{{ object.name }}</a>
            <i class="bi bi-chevron-compact-right"></i>
            <i class="bi bi-upc-scan"></i> Scanner
        </h3>
    </div>

    <!-- QR Code Reader -->
    <div class="row col-sm-12 p-2">
        <div id="qr-reader" class="col-sm-4"></div>
        <div class="col-sm-8">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </div>
    </div>


    <script type="text/javascript">
        var qrcode_process_url = "{% url 'flow-api:echo' %}";
    </script>
    <script src="{% static 'js/application-scanner.js' %}" type="text/javascript"></script>

{% endblock %}
