{% extends "base.html" %}

{% block content %}

    <div class="row col-sm-12 p-2">
        <h3 class="page-header"><i class="bi bi-upc"></i> QR-Code</h3>
    </div>

    <div class="row col-sm-12 p-2">
        <form method="post" action="" class="form-group">
            <input type="text" name="key" id="key-textbox" class="form-control" value="" />
        </form>
    </div>

    <div class="row col-sm-12 p-2">
        <img id="qrcode-image" />
    </div>


<script>
function update_qrcode(context) {

    var message = {
        "message": $(this).val()
    };
    console.log(message);

    /*
    $.post(
        "{{ url_for('qrcode_create') }}",
        json=message
    )
    */

    $.ajax({
        url: "{{ url_for('qrcode_create') }}",
        type: "POST",
        data: JSON.stringify(message),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
    }).done(function(data) {
        console.log(data);
        //$("#qrcode-image").attr("src", data);
    }).fail(function(data) {
        console.log("Arggsss");
        console.log(data);
    });

}

$(document).ready(update_qrcode);

$(document).ready(function(context) {
    $("#key-textbox").keyup(update_qrcode);
});
</script>

{% endblock %}
