{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="row col-sm-12 p-2">
        <h3 class="page-header"><i class="bi bi-app-indicator"></i> {{ object.name }}</h3>
    </div>

    <div class="row col-sm-12 p-2">
        <h4 class="page-header"><i class="bi bi-upc"></i> Codes</h4>
    </div>

    <div class="row col-sm-12 p-2">
        {% for object in object.code_set.all %}
        <a href="" class="col-sm-2 text-center">
            <img src="{{ object.image.url }}" width="100px;" />
            <h5>{{ object.name }}</h5>
        </a>
        {% endfor %}
    </div>

{% endblock %}
